@import "./variables.scss";

body {
  background-color: $c-yellow-pale;
  color: $c-main-dark;
  font-family: "Courier New", Courier, monospace;
}

.o-listing {
  max-width: 1000px;
  margin: 0 auto;
}

.m-article {
  background-color: $c-main-light;
  color: $c-white;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px gray;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &--people {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      background: none;
      border: none;
      font-size: 16px;
      color: $c-white;
      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    img {
      border-radius: 10px;
    }
  }
}

.btn {
  background: $c-main-dark;
  border: 1px solid $c-white;
  border-radius: 10px;
  font-size: 16px;
  color: $c-white;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

.counter {
  text-align: center;

  & * {
    font-size: 36px;
  }

  h2 {
    font-size: 55px;
  }

  svg {
    font-size: 45px;
  }
}

.m-accordion {
  max-width: 500px;
  margin: 0 auto;

  &__item {
    background-color: $c-main-light;
    color: $c-white;
    padding: 10px 30px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px gray;
    margin-bottom: 10px;
    user-select: none;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    border: none;
    background: none;
    font-size: 2em;
    color: $c-white;
    cursor: pointer;
  }

  &__info {
    display: none;

    &--active {
      display: block;
    }
  }
}

.slider {
  background-color: hsl(210, 36%, 96%);
  border-radius: 50px;
  padding: 30px;
  max-width: 1100px;
  margin: 50px auto 0;

  * {
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  &__slide {
    display: none;

    &--active {
      display: block;
    }
  }

  &__image-wrapper {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__image {
    border-radius: 50px;
    border: 5px solid hsl(205, 72%, 37%);
    width: 100%;
    height: 100%;
  }

  &__desc {
    padding: 0 30px;
  }

  &__show-more {
    background-color: none;
    border: none;
    color: hsl(205, 72%, 37%);
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid hsl(205, 72%, 37%);
    padding: 3px;

    &:hover {
      background-color: hsl(205, 72%, 37%);
      color: whitesmoke;
    }
  }

  &__btn {
    padding: 10px;
    font-size: 24px;
    background-color: hsl(205, 72%, 37%);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
}
